{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "alias": {
          "~": "."
        }
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        "babel-plugin-lodash",
        "babel-plugin-ramda"
      ]
    }
  }
}
