$color-accent: #f00;
$color-primary: #0ff;
$color-secondary: #00f;

$color-global-bg: #eee;
$color-global-fg: #222;

$color-dark-theme-control: rgba(102, 107, 140, 0.5);
$color-dark-theme-backdrop: #0d171d;
$color-dark-theme-bg: #242f3e;
$color-ui: #3290ce;

$color-ui-active: #adb4e3;
