@import "style/config";
@import "style/mixins";
@import "style/functions";
@import "style/global";
@import "style/Button";
@import "style/Application";

$control-color: rgba(173, 197, 227, 0.5);
$graph-offset: 10px;

.Heading {
  position: relative;
  z-index: 3;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    box-shadow: 0 0 12px 4px #fff;
    transition: get-transition-list($transition-time-regular, background-color box-shadow);
  }

  > .Title {
    background-color: #fff;
    margin: 0;
    padding: $offset-medium $offset-global-side $offset-regular $offset-global-side;
    font-size: 22px;
    font-weight: 500;
    cursor: text;
    transition: get-transition-list($transition-time-regular, background-color color);
  }
}

.PositionControl {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  user-select: none;

  > .Backdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgba(244, 250, 253, 0.8);
    z-index: 1;
    transition: $transition-time-regular background-color;

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }
  }

  > .Group {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    height: 100%;
    background-color: transparent;
    border: 1px solid $control-color;
    transition: get-transition-list($transition-time-regular, border-color);
  }

  .ResizeControl {
    width: 8px;
    height: 100%;
    background-color: $control-color;
    transition: get-transition-list($transition-time-regular, background-color);
  }
}

.Root {
  width: 100%;
  height: auto;
}

.Graph {
  width: calc(100% - #{$graph-offset});
  margin-right: $graph-offset;
  height: 280px;
  margin-bottom: $graph-offset;
  position: relative;
}

.Preview {
  width: calc(100% - #{$graph-offset * 2});
  margin: 0 $graph-offset $graph-offset $graph-offset;
  height: 60px;
  position: relative;
  overflow: hidden;
}

.ButtonsGroup {
  padding: 0 $graph-offset;
  margin-bottom: $button-margin;
}

.SVG {
  position: relative;
  z-index: 2;
}

.AxisYText,
.SVGLine {
  will-change: opacity, transform;
  transform: translateY(0);
}

.AxisX {
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #888;
  position: absolute;
  z-index: 1;
}

.AxisYText {
  transition: get-transition-list($transition-time-regular, color fill);
  font-size: 14px;
  font-weight: 300;
  color: #888;
  fill: currentColor;
}

.SVGLine {
  transition: get-transition-list($transition-time-regular, stroke);
  stroke: #eef1f5;
}

.SVGCircle {
  transition: get-transition-list($transition-time-regular, fill);
  fill: #fff;
}

.AxisYContainer {
  position: absolute;
  top: 0;
  left: $graph-offset;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.AxisY {
  width: calc(100% - #{$graph-offset});
  display: flex;
  align-items: flex-end;
  left: $graph-offset;
  right: 0;
  transform: translateY(0);
  transition: get-transition-list($transition-time-regular, opacity transform border-bottom-color);
  height: calc(100% / 6);
  padding-bottom: $graph-offset / 2;
  border-bottom: 1px solid #eef1f5;

  &.up {
    transform: translateY(-100%);
    opacity: 0.01;
  }
  &.down {
    transform: translateY(100%);
    opacity: 0.01;
  }
}

.AxisXContainer {
}

.AxisX {
  transform: translateX(0);
  transition: get-transition-list($transition-time-regular, opacity transform);
  height: 40px;
  line-height: 40px;

  &.left {
    transform: translateX(-100%);
    opacity: 0.01;
  }

  &.right {
    transform: translateX(100%);
    opacity: 0.01;
  }
}

.Line {
  opacity: 1;
  transition: $transition-time-regular opacity;
  will-change: opacity;

  &.hidden {
    opacity: 0;
  }
}

.Tooltip {
  position: absolute;
  z-index: 100;
  top: 0;
  transition: get-transition-list($transition-time-regular, box-shadow background-color);
  box-shadow: 0 1px 3px #ccc;
  padding: 5px;
  background-color: #fff;
  max-width: calc(100% - 20px);

  > .TooltipTitle {
    transition: get-transition-list($transition-time-regular, color);
    color: #111;
    display: block;
    width: 100%;
    text-align: left;
    font-size: 14px;
    padding: 5px 5px 10px;
    font-weight: 500;
  }

  > .TooltipContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > .TooltipValueGroup {
      padding: 5px;

      > .TooltipValue {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: inherit;
      }
      > .TooltipName {
        font-weight: 400;
        font-size: 13px;
        line-height: 14px;
        color: inherit;
      }
    }
  }
}
