@import "../style";

.ButtonsGroup {
  padding: 0 $offset-global-side;
}

.Graph {
  height: 400px;
  margin-bottom: $offset-global-side;
}

.Preview {
  height: 60px;
  margin-bottom: $offset-global-side;
  position: relative;
}

.PlaceholderBlock {
  width: 100%;
  height: 100%;
  background-color: #eee;
}
