$size-tiny: 14px;
$size-small: 18px;
$size-regular: 24px;
$size-medium: 32px;
$size-big: 48px;

$offset-tiny: 4px;
$offset-small: 8px;
$offset-regular: 16px;
$offset-medium: 24px;
$offset-big: 32px;
$offset-large: 48px;

$offset-global-side: $offset-regular;
