@import "../../style";

.Heading {
  position: relative;
  margin-bottom: $offset-small;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: $size-regular;
    background-image: linear-gradient(to bottom, #fff, #fff 30%, transparent);
  }
}

.Title {
  background-color: #fff;
  margin: 0;
  padding: $offset-medium $offset-global-side 0 $offset-global-side;
  font-size: 22px;
  font-weight: 500;
  cursor: text;
}
